 .u-section-1 {
  background-image: linear-gradient(140deg, #1a1a1a, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 1905px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-family: DrukWide-Bold-Trial;
  margin: 56px 428px 0 482px;
}

.u-section-1 .u-text-2 {
  font-family: DrukWide-Bold-Trial;
  font-size: 1.125rem;
  margin: 17px 55px 0;
}

.u-section-1 .u-text-3 {
  font-family: DrukWide-Bold-Trial;
  font-size: 1.875rem;
  margin: 45px 413px 0 442px;
}

.u-section-1 .u-text-4 {
  font-family: DrukWide-Bold-Trial;
  font-size: 1.5rem;
  margin: 86px 141px 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: DrukWide-Bold-Trial;
  font-size: 1.5rem;
  margin: -38px 796px 0 171px;
}

.u-section-1 .u-image-1 {
  width: 404px;
  height: 300px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px auto 0 46px;
}

.u-section-1 .u-image-2 {
  width: 405px;
  height: 300px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -300px 38px 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: DrukWide-Bold-Trial;
  font-size: 1.875rem;
  margin: 36px 443px 0 482px;
}

.u-section-1 .u-text-7 {
  font-family: DrukWide-Bold-Trial;
  font-size: 1.125rem;
  margin: 8px 69px 0 86px;
}

.u-section-1 .u-gallery-1 {
  height: 892px;
  width: 983px;
  margin: 20px auto 35px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 88px;
}

.u-section-1 .u-gallery-item-1 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  transition-duration: 0.25s;
  --effect-scale: 1.25;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1844px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 336px;
    margin-left: 376px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 82px;
  }

  .u-section-1 .u-text-3 {
    width: 294px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 31px;
    margin-right: 129px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 612px;
    margin-left: 155px;
  }

  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 319px;
    margin-left: 382px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-gallery-1 {
    width: 894px;
    height: 846px;
    margin-top: 25px;
    margin-bottom: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3059px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
    margin-right: 223px;
    margin-left: 263px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-3 {
    width: 289px;
    margin-top: 46px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 419px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 166px;
    margin-top: -426px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 71px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 217px;
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 1704px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6263px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: 120px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: 150px;
    margin-top: 57px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 390px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: 109px;
    margin-top: -390px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-left: 56px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 55px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    width: 111px;
    margin-top: 98px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-top: 15px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 36px;
    margin-bottom: 60px;
    height: 4601px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4072px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 158px;
    margin-top: 46px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 295px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -294px;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
    width: 246px;
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    width: 270px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 43px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 58px;
    height: 2897px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'DrukWide-Bold-Trial';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DrukWide-Bold-Trial.otf);
}